@use '../../assets/sass/variables'

.header
    align-items: center
    background-color: variables.$navbar-color
    display: flex
    justify-content: space-between
    height: 60px
    padding: 1rem

    &__menu
        border: none
        background-color: unset
        padding: 0
